RESEND_API_KEY=
MAIL_FROM=Ranz Global <bildirim@ranzglobal.com>
MAIL_REPLY_TO=info@ranzglobal.com
MAIL_ADMIN=info@ranzglobal.com
MAIL_SITE_URL=https://www.ranzglobal.com

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=https://www.ranzglobal.com/api/seo/google/callback
GA4_PROPERTY_ID=
GSC_SITE_URL=https://www.ranzglobal.com/
NEXT_PUBLIC_GA4_MEASUREMENT_ID=
NEXT_PUBLIC_GSC_VERIFICATION=
CRON_SECRET=
AI_GATEWAY_API_KEY=

NEXT_PUBLIC_WHATSAPP_E164=
WHATSAPP_CLOUD_TOKEN=
WHATSAPP_CLOUD_PHONE_NUMBER_ID=
